/*dark background color #2F383D*/
/*light background color #9E9E9E*/
@import 'https://fonts.googleapis.com/css?family=Comfortaa|Courgette|Oxygen|Roboto';// @import 'https://fonts.googleapis.com/css?family=Courgette';


// VARIABLES!!!
$darkColor: #2F383D;
$lightColor: #949394;
$mainAccentColor: #A6F284;
$importantAccentColor: #FF0000;
$smallBackgroundImage: url("../images/small.jpg");
// $mediumBackgroundImage: "";
// $largeBackgroundImage: "";
$logoFont1: 'Oxygen', sans-serif;
$logoFont2: 'Courgette', cursive;
$softBorder: 3px;

//Universal Styles!!!!
h1,h2,h3,h4,h5,p{
  font-family: 'Roboto', sans-serif;
}
a:visited{
  text-decoration: none;
  text-decoration-color: black;
}
body{
   background: $smallBackgroundImage;

}
a{
  text-decoration: none;
}
.soft-border{
  border-radius: $softBorder;
}
.shadow-effect{
  box-shadow: -2px 2px 6px $darkColor;
}
.darker-shadow-effect{
  box-shadow: -2px 2px 6px black;
}
.input-field label{
  color: black;
}
.input-field input[type=text]:focus + label {
   color: $mainAccentColor;
}
 /* label color */
.input-field label {
      color: #000;
}
    /* label focus color */
.input-field input[type=text]:focus + label {
  color: #000;
}
    /* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
    /* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
    /* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
    /* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}

.add-button-box{
  width: 337px;
  height: 75px;
  background-color: $lightColor;
  margin-left: 19px;
}
.round-button{
  height: 37px;
  width: 37px;
  border-radius: 37px;
  background-color: $darkColor;
  padding-top: 3px;
  padding-left: 4px;
}
.add-project-round-button{
  margin-right: -22px;
  margin-top: -24px;
}
.add-project-title{
  color: black;

}
.soften-background{
height: 100vh;
width: 100vw;
background-color:rgba(0, 0, 0, 0.5);
}
//NAVIGATION!!!
.header-wrapper{
  display: flex;
}


.main-header{
  background-color: $darkColor;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content:space-between;
}
.b66{
  font-family: $logoFont1;
  font-size: 24px;
  color: $darkColor;
}
.living{
  font-family: $logoFont2;
  font-size: 24px;
  color: $darkColor;

}
.companyLogo{
  width: 75px;
  height: 75px;
  border-radius: 100px;
  background-color: $mainAccentColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-top: 6px;
}
.navProjectName{
width: 157px;
height: 65px;
margin-right: 30px;
margin-top: 12px;
z-index: 2;
background-color: $lightColor;
display: flex;
align-items: center;
justify-content: center;

  h5{
  vertical-align: middle;
  text-align: center;

  }
}

.nav-project-name-text{
  color: black;
}

//Home Template!!!!
.quote-container{
  width: 90%;
  height: 65%;
}
.author h5{
  font-family: 'Comfortaa', cursive;
  font-weight: 300;
  letter-spacing: .5px;

}
.quote h5{
font-family: 'Roboto', sans-serif;
letter-spacing: 1px;

}

//Add Project!!!!



.add-project-wrapper{
  width: 100%;
  height: 200px;
  margin: 10px;
}
.add-project-box{
  width: 90%;
  height: 100%;
  background-color: $lightColor;
  margin: 1%;
}
.add-project-title{
  color: black;
}
.add-project-form-wrapper{

}
.add-project-button-wrapper{
  margin: -5px;
}


//Project Summaries!!!!

.summary-hr{
color: black;
width: 100%;

}
.hr-div{
  display: inline-block;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
}
.project-button{
  width: 100%;
  height: 100px;
  margin-left: 10px;
}
.view-button{
  height: 60px;
  width: 60px;
  margin-right: 6px;
  margin-top: 10px;
}
.project-box{
  width: 337px;
  height: 75px;
  background-color: $lightColor;
  margin: 1%;
}
.project-name{
  color: black;
  position: relative;
  top: 0px;
  left: 5px;
  width: auto;
  display: inline-block;
}
.start-date{
  color: $mainAccentColor;
  font-size: 16px;
  position: relative;
  top: 0px;
  right: 10px;
  margin-right: 5px;

}
.arrow{
  width: 50px;
  height: 50px;
}

.projectSummaries{
  width: 100px;
  height: 100px;
  background-color: $lightColor;
  margin: 5px;
}
.project-summaries-content{
  height: 577px;
  overflow: scroll;
}

//Project View!!!

.project-content{
  height: 667px;
  overflow: scroll;
}

.customerContainer{
  background-color: $lightColor;
  height: 175px;
  padding: 10px;
}
hr{
  color: $darkColor;
}
.editButton{
  margin-right: 5px;
}


.save-customer-button{
  margin-right: 32px;

}
.round-delete-button{
  height: 37px;
  width: 37px;
  border-radius: 37px;
  background-color: $darkColor;
  padding-top: 3px;
  padding-left: 4px;
  margin-right: 5px;
}
.red-image-delete{
  height: 30px;
width: 30px;
}

// Add Customer!!!!



.add-customer-info{
  width: 550px;
  height: 200px;
  background-color: $lightColor;
}
.add-customer-address{
  // width: 550px;
  // height: 150px;
  background-color: $lightColor;
}
.red-image-add{
  height: 49px;
  width: 48px;
  position: relative;
  right: 4.5px;
  bottom: 4px;
}
.round-add-button{
  height: 37px;
  width: 37px;
  border-radius: 37px;
  background-color: $darkColor;
  padding-top: 3px;
  padding-left: 4px;
  position: relative;
  right: 5px;
  top: -16px;
}
.add-button-box-title{
  position: relative;
  top: 25px;
  left: 20px;
}


// Add Invoice!!!!!!

.round-add-invoice-button{
  height: 37px;
  width: 37px;
  border-radius: 37px;
  background-color: $darkColor;
}
.addInvoice{
  width: 550px;
  height: 200px;
  background-color: $lightColor;
}

//Invoices on Project page!!
.invoice-container-wrapper{
  // width: 550px;
  background-color: $darkColor;
  width: 337px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 19px;
  margin-top: 12px;
  // padding-top: 60px;
  max-height: 300px;
  overflow: scroll;

}
.invoice-container{
  // width: 550px;
  min-width: 158px;
  height: 100px;
  background-color: $lightColor;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.invoices-section-title{
  color: white;
  margin: 0px;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.invoice-period-text{
  font-size: 20px;
  color: $mainAccentColor;
}
.invoice-description-text{
font-size: 20px;
color: $darkColor;

}
