/*dark background color #2F383D*/
/*light background color #9E9E9E*/
@import 'https://fonts.googleapis.com/css?family=Comfortaa|Courgette|Oxygen|Roboto';// @import 'https://fonts.googleapis.com/css?family=Courgette';

//default pixel size 16px

// VARIABLES!!!
$darkColor: #273646;
$medColor: #47627F;
$lightColor: #E9EEEF;
$mainAccentColor: #229C8F;
$importantAccentColor: #E44235;
$smallBackgroundImage: url("../images/tree.jpg");
// $mediumBackgroundImage: "";
// $largeBackgroundImage: "";
$logoFont1: 'Oxygen', sans-serif;
$logoFont2: 'Courgette', cursive;
$softBorder: 0.1875em; //3px;
$containerWidth: 100%;

//Universal Styles!!!!
h1,h2,h3,h4,h5,p{
  font-family: 'Roboto', sans-serif;
}
a:visited{
  text-decoration: none;
  text-decoration-color: black;
}
body{
  //  background: $smallBackgroundImage;
  //  background-repeat: no-repeat;
  //  background-size: cover;
background-color: $darkColor;
}
a{
  text-decoration: none;
}
.shaded{
  background-color:rgba(36, 49, 64, 0.3);

}

.soft-border{
  // border-radius: $softBorder;
}
.shadow-effect{
  box-shadow: -1px 2px 6px $darkColor;
}
.darker-shadow-effect{
  // box-shadow: -0.125em 0.125em 0.375em//-2px 2px 6px black;
}
.input-field label{
  color: black;
}
.input-field input[type=text]:focus + label {
   color: $mainAccentColor;
}
 /* label color */
.input-field label {
      color: #000;
}
    /* label focus color */
.input-field input[type=text]:focus + label {
  color: #000;
}
    /* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 0.0625em solid #000; //1px
  box-shadow: 0 0.0625em 0 0 #000; //1px
}
    /* valid color */
.input-field input[type=text].valid {
  border-bottom: 0.0625em solid #000; //1px
  box-shadow: 0 0.0625em 0 0 #000; //1px
}
    /* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 0.0625em solid #000; //1px
  box-shadow: 0 0.0625em 0 0 #000; //1px
}
    /* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}

.add-button-box{
  width: $containerWidth;//21.0625em;//337px;
  height: 4.6875em;//75px;
  background-color: $lightColor;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-left: 1.1875em;//19px;
}
.add-project-button-box{
margin-top: 5%;
}
.round-button{
  height: 2.3125em; //37px;
  width: 2.3125em; //37px;
  border-radius: 2.3125em; //37px;
  background-color: $darkColor;
  padding-top: 0.1875em; //3px;
  padding-left: 0.25em; //4px;
}
.add-project-round-button{
  // margin-right: -1.375em;//-22px;
  // margin-top: -1.5em;//-24px;
  // align-self: flex-end;
  position: relative;
  right: -28%;
}
.add-project-title{
  color: black;

}
.soften-background{
height: 100vh;
width: 100vw;
// background-color:rgba(0, 0, 0, 0.5);
}
//NAVIGATION!!!
.header-wrapper{
  display: flex;
}


.main-header{
  background-color: $medColor;
  height: 5.625em;//90px;
  width: 100%;
  display: flex;
  justify-content:space-between;
}
.b66{
  font-family: $logoFont1;
  font-size: 1.5em;//24px;
  color: $lightColor;
}
.living{
  font-family: $logoFont2;
  font-size: 1.5em;//24px;
  color: $lightColor;

}
.companyLogo{
  width: 4.6875em;//75px;
  height: 4.6875em;//75px;
  border-radius: 6.25em;//100px;
  background-color: $mainAccentColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0.3125em;//5px;
  margin-top: 0.375em;//6px;
}
.navProjectName{
width: 9.8125em;//157px;
height: 100%;//65px;
// margin-right: 1.875em;//30px;
// margin-top: 0.75em;//12px;
z-index: 2;
background-color: $lightColor;
display: flex;
align-items: center;
justify-content: center;

  h5{
  vertical-align: middle;
  text-align: center;

  }
}

.nav-project-name-text{
  color: black;
}

//Home Template!!!!
.quote-container{
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quote{
  width: 80%;
}
.author h5{
  font-family: 'Comfortaa', cursive;
  font-weight: 300;
  letter-spacing: 0.03125em;//.5px;

}
.quote h4{
  font-size: 2.0rem;
font-family: 'Roboto', sans-serif;
letter-spacing: 0.0625em;//1px;

}

//Add Project!!!!



.add-project-wrapper{
  width: 100%;
  height: 12.5em;//200px;
  // margin: 0.625em;//10px;
}
.add-project-box{
  width: $containerWidth;
  height: 100%;
  background-color: $lightColor;
  // margin: 1%;
}
.add-project-title{
  color: black;
}
.add-project-form-wrapper{

}
.add-project-button-wrapper{
  // margin: -0.3125em;//-5px;
}


//Project Summaries!!!!

.summary-hr{
color: black;
width: 100%;

}
.hr-div{
  display: inline-block;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
}
.project-button{
  width: 100%;
  height: 13%;
  margin-top: 5%;
  // margin-left: 10px;
  // top: 0.4375em;//7px;
// right: -0.625em;//-10px;
}
.view-button{
  height: 3.75em;//60px;
  width: 3.75em;//60px;
  margin-right: 0.375em;//6px;
  margin-top: 0.625em;//10px;
}
.project-box{
  width: $containerWidth;//21.0625em; 337px;
  height: 4.6875em;//75px;
  background-color: $lightColor;
  // margin: 1%;
}
.project-name{
  color: black;
  position: relative;
  top: 0em;//0px;
  left: 0.3125em;//5px;
  width: auto;
  display: inline-block;
}
.start-date{
  color: $mainAccentColor;
  font-size: 1em;//16px;
  position: relative;
  top: 0em;//0px;
  right: 0.625em;//10px;
  margin-right: 0.3125em;//5px;

}
.arrow{
  width: 5.125em;//50px;
  height: 5.125em;//50px;
  // bottom: 0.5625em;//9px;
  // right: 0.5625em;//9px;
  position: relative;
  bottom: 20%;
}

.projectSummaries{
  width: 6.25em;//100px;
  height: 6.25em;//100px;
  background-color: $lightColor;
  margin: 0.3125em;//5px;
}
.project-summaries-content{
  height: 36.0625em;//577px;
  overflow: scroll;
}
.project-delete-container{
position: relative;
top: -2em;//-32px;
}

//Project View!!!

.project-content{
  height: 41.6875em;//667px;
  overflow: scroll;
}

.customerContainer{
  width: $containerWidth;
  background-color: $lightColor;
  height: 12.0em;//175px;
  padding: 0.625em;//10px;
}
hr{
  color: $darkColor;
}
.editButton{
  margin-right: 0.3125em;//5px;
}


.save-customer-button{
  margin-right: 2em;//32px;

}
.round-delete-button{
  height: 2.3125em;//37px;
  width: 2.3125em;//37px;
  border-radius: 2.3125em;//37px;
  background-color: $darkColor;
  padding-top: 0.1875em;//3px;
  padding-left: 0.25em;//4px;
  margin-right: 0.3125em;//5px;

}
.red-image-delete{
  height: 1.875em;//30px;
width: 1.875em;//30px;
}
.small-button-container{
  justify-content: flex-end;
}
.small-delete-button{
  height: 1.4375em;//23px;
  width: 1.4375em;//23px;
  border-radius: 17px;
  background-color: $darkColor;
  align-self: flex-end;
  margin: 5px;

}
.small-red-image-delete{
  height: 1.0625em;//17px;
  width: 1.0625em;//17px;
  margin-left: 0.125em;//2px;
  margin-top: 0.125em;//2px;
}


//Invoices on Project page!!
.invoice-container-wrapper{
  background-color: $darkColor;
  width: $containerWidth;//21.0625em;//337px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  // margin-left: 1.1875em;//19px;
  margin-top: 0.75em;//12px;
  max-height: 22.15em;//300px;
  overflow: scroll;

}
.invoice-container{
  min-width: 45%;//158px;
  height: 6.25em;//100px;
  background-color: $lightColor;
  margin-top: .625em;//10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  // align-items: center;
}
.invoices-section-title{
  color: white;
  margin: 0em;//0px;
  height: 3.125em;//50px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.invoice-period-description{
  align-self: center;
    margin-left: 11%;
}
.invoice-period{
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
  margin-top: 10%;
}
.invoice-period-text{
  font-size: 1.25em;//20px;
  color: $importantAccentColor;
  display: inherit;
  justify-content: space-around;
  // margin-left: 0.9375em;//15px;
}
.invoice-description-text{
font-size: 1.25em;//20px;
color: $darkColor;
text-align: center;
}
.invoice-delete-container{
  // margin-left: 0.3125em;//5px;
  height: 1.5375em;
  width: 1.5375em;
}
// Add Customer!!!!



.add-customer-info{
  width: $containerWidth;//34.375em;//550px;
  height: 13.5em;//200px;
  background-color: $lightColor;
}
.add-customer-address{
  // width: 550px;
  // height: 150px;
  background-color: $lightColor;
}
.red-image-add{
  height: 3.0625em;//49px;
  width: 3em;//48px;
  position: relative;
  right: 0.28125em;//4.5px;
  bottom: 0.25em;//4px;
}
.round-add-button{
  height: 2.3125em;//37px;
  width: 2.3125em;//37px;
  border-radius: 2.3125em;//37px;
  background-color: $darkColor;
  padding-top: 0.1875em;//3px;
  padding-left: 0.25em;//4px;
  position: relative;
  right: 0.3125em;//5px;
  top: -1em;//-16px;
}
.add-button-box-title{
  position: relative;
  top: 1.5625em;//25px;
  left: 1.25em;//20px;
}


// Add Invoice!!!!!!

.round-add-invoice-button{
  height: 2.3125em;//37px;
  width: 2.3125em;//37px;
  border-radius: 2.3125em;//37px;
  background-color: $darkColor;
}
.addInvoice{
  width: 100%;//550px;
  max-width: 100%;
  height: 12.5em;//200px;
  background-color: $lightColor;
}

//Invoice Details Display!!!!!
.invoice-detail-title{
  background-color: $lightColor;
height: 75%;//3.75em;//60px;
padding: 0.625em;//10px;
}
.invoice-detail-container{
  background-color: $lightColor;
  max-height: 75%;//400px;
  margin-top: 2%;
  overflow: scroll;
  width: $containerWidth;
  display: flex;
  flex-direction: column;
}
.invoice-detail-wrapper{
  // This will only affect .invoice-column-titles and .invoice-column-details

}
.invoice-column-titles{
  display: inline-flex;
  margin-bottom: 2%;
  width: 100%;
  justify-content: space-between;

}
.invoice-column-details{
  display: inline-flex;
  // margin-bottom: 2%;
  width: 100%;
  height: 2.1875em;
  // border: 2px;
  // border-color: $darkColor;
  // border-style: solid;
  justify-content: space-between;
  align-items: center;
}
.invoice-detail-container{

}
.invoice-header{
display: flex;
justify-content: center;

}



.invoice-item-number{
  width: 1.2em;
  margin-left: 2%;

}
.invoice-item-price{
  width: 5.2em;
}
.invoice-item-tax{
  width: 3.2em;
}
.invoice-item-description{
  width: 6em;
}
.invoice-footer{
  display: flex;
  justify-content: flex-end;
}
.invoice-total{
  width: 100%;
  text-align: right;
  margin-top: 2%;
  margin-right: 2%;
}
