<div class="customerInfo input-field">
    <p>Add Customer</p>
    <p>Name</p><input type="text" ng-model="customerName" name="name" value="Customer Name">
    <p>Email</p><input type="text" ng-model="customerEmail" name="CustomerEmail" value="">
    <p>Phone #</p><input type="text" ng-model="customerPhone" name="CustomerPhone" value=""> 
    <a class="btn-floating btn-large waves-effect waves-light red"><i ng-click="newCust(customerName, customerEmail, customerPhone, customerAddressLine1, customerAddressLine2, customerAddressCity, customerAddressState, customerAddressZip)" class="material-icons">save</i></a>
</div>
<!--
<h1>Customer Address</h1>

<div class="address">
  <h2>Line 1</h2><input type="text" ng-model="customerAddressLine1" name="CustomerAddressLine1" value="Line 1"> <br>
  <h2>Line 2</h2><input type="text" ng-model="customerAddressLine2" name="CustomerAddressLine2" value="Line 2"> <br>
  <h2>City</h2><input type="text" ng-model="customerAddressCity" name="CustomerAddressCity" value="City"> <br>
  <h2>State</h2><input type="text" ng-model="customerAddressState" name="CustomerAddressState" value="State"> <br>
  <h2>Zip</h2><input type="text" ng-model="customerAddressZip" name="CustomerAddressZip" value="Zip Code"> <br>

</div> -->
