<div class="add-project-wrapper">
  <div class="add-project-box shadow-effect">

    <div class="add-project-title center-align">
      Project Details
    </div>

    <div class="add-project-form-wrapper row">
      <div class="col 12">
        <div class=" col s6">
          Name:<input ng-model="projectName" id="project_name" type="text">
        </div>
        <div class=" col s6">
          Start Date:<input ng-model="projectStartDate" id="project_start" type="text">
        </div>
        <div class=" col s6">
          Deadline:<input  ng-model="projectDeadline" id="project_deadline" type="text">
        </div>
        <div class="col s6 right-align">
          <a class="btn-floating btn-large waves-effect waves-light red" ng-click="newproj(projectName, projectStartDate, ProjectDeadline)"><i  class="material-icons">save</i></a>
        </div>
        <!-- <button ng-click="newproj(projectName, projectStartDate, ProjectDeadline)"type="button" name="save">Save Project</button> -->
      </div>
    </div>

  </div>
</div>
