<div class="project-content">

    <nav-bar> </nav-bar>
<div class="project-dates container">
  <div ng-repeat="project in project" class="row">
    <div class="col s6">
      <h5>{{project.project_start_date}}</h5>
    </div>
    <div class="col s6">
      <h5>{{project.project_deadline}}</h5>
    </div>
  </div>
</div>


    <div class="customerContainer shadow-effect soft-border"ng-repeat="project in project">
      <div class="row">
        <div class="containerTitle center-align col s12">
          <h5>Customer Information</h5>
        </div>
        <div class="containerInfo col s12">
          {{project.customer_name}}
          <i class="small material-icons left">perm_identity</i>
        </div>
        <hr>
        <div class="containerInfo col s12">
          {{project.customer_email}}
          <i class="small material-icons left">email</i>
        </div>
        <hr>

        <div class="containerInfo col s6">
          {{project.customer_phone}}
          <i class="small material-icons left">phone</i>
        </div>

        <div class="deleteButton right">
          <div class="round-delete-button shadow-effect waves-effect waves-light ">
            <div ng-click="deleteCustomer(project.customer_id)"  class="red-image-delete">
              <img class="red-image-delete right-align"src="/images/delete.png" alt="" />
            </div>
          </div>
        </div>

      </div>
    </div>



    <div class="addFields">
      <div class="addCustomer">
        <add-customer></add-customer>
      </div>
      <!-- <div >
        <ul class="collection with-header">
          <li class="collection-header"><h4>Invoices</h4></li>
          <div class="" ng-repeat="invoice in invoices">
            <li class="collection-item"><div>{{invoice.invoice_id}}</div></li>
            <li class="collection-item"><div>{{invoice.invoice_description}}</div> </li>
            <li class="collection-item"><div>{{invoice.invoice_period}}</div></li>
            <li class="collection-item"><div>{{invoice.invoice_subtotal}}</div></li>
          </div>

        </ul>
      </div> -->

    <div class="invoice-container-wrapper soft-border">
      <div class="invoices-section-title">
        <h4>Invoices</h4>
      </div>
      <div ng-repeat="invoice in invoices"class="invoice-container darker-shadow-effect soft-border">
        <div class="invoice-delete-container "ng-click="deleteInvoice(invoice.invoice_id)">
          <div class="small-delete-button shadow-effect waves-effect waves-light">
            <div class="small-red-image-delete">
              <img class="small-red-image-delete"src="/images/delete.png" alt="" />
            </div>
          </div>
        </div>
      <div class="invoice-period-description">
        <a ui-sref="seeInvoice({id: projectId, invoiceId: invoice.invoice_id})">
        <div class="invoice-period">
          <div class="invoice-period-text">
            <i class="material-icons">today</i>
            {{invoice.invoice_period}}
          </div>
        </div>
        <div class="invoice-description">
          <div class="invoice-description-text">{{invoice.invoice_description}}</div>
        </div>
      </div>

      </a>
      </div>
    </div>
    <add-invoice></add-invoice>
