<nav-bar> </nav-bar>

<div class="container" ng-repeat="project in project">
  <!-- <div>{{project.project_deadline}}</div> -->
  <!-- <div>{{project.project_startdate}}</div> -->
  <ul class="collection with-header">
    <li class="collection-header"><h4>Customer Information</h4></li>
    <li class="collection-item"><div>{{project.customer_name}}</div></li>
    <li class="collection-item"><div>{{project.customer_email}}</div></li>
    <li class="collection-item"><div>{{project.customer_phone}}</div></li>
  </ul>
</div>




<div >
  <ul class="collection with-header">
    <li class="collection-header"><h4>Invoices</h4></li>
    <div class="" ng-repeat="invoice in invoices">
      <li class="collection-item"><div>{{invoice.invoice_id}}</div></li>
      <li class="collection-item"><div>{{invoice.invoice_description}}</div> </li>
      <li class="collection-item"><div>{{invoice.invoice_period}}</div></li>
      <li class="collection-item"><div>{{invoice.invoice_subtotal}}</div></li>
    </div>

  </ul>
</div>

<!-- <div ng-repeat="customer in customers">
  {{customer.id}}
  {{customer.id}}
  {{customer.id}}
</div> -->
<div class="addFields">
  <div class="addCustomer">
    <add-customer></add-customer>
  </div>

  <div class="addInvoice">
    <add-invoice></add-invoice>
  </div>
</div>
