<div class="project-summaries-content">

<!-- {{projects}} -->
<!-- <div ng-repeat="project in projects" class="projectSummaries">
<a ui-sref="seeProject({id: project.id})">
<button type="button"  class="projectSummaries">
{{project.name}}
{{project.startdate}}
{{project.deadline}}
</button>
</a>
</div> -->
<!-- <button ng-click="deleteProject()" type="button" name="button" class="deleteProject">
  Delete Project
</button> -->
<div ng-repeat="project in projects" class="project-button soft-border">
    <a ui-sref="seeProject({id: project.id})">
      <div class="view-button right">
        <div class="round-button waves-effect waves-light shadow-effect">
          <img class="arrow"src="/images/arrow.png" alt="" />
        </div>
      </div>
      <div class="project-box shadow-effect soft-border">
        <div class="project-name  left-align">
          <h5>{{project.name}}</h5>
          <!-- <div class="hr-div">
            <hr size="1px" class="summary-hr">
          </div> -->
        </div>

        <br>
        <div class="start-date  right-align">
        Start Date:  {{project.startdate}}
        </div>
      </div>
    </a>
</div>

<add-project-directive></add-project-directive>
</div>
